<link rel="stylesheet" href="/ClientApp/src/app/home/style.css">
<section class="main2">
  <h1 style="color: #B6995A;padding-top:3%; padding-bottom: 2%; text-align:center">PLAYERS</h1>
  <table style="text-align: center; margin-left: auto; margin-right: auto; width: 90%; margin-bottom: 3%; border: 1px solid white;">
    <thead>
      <tr>
        <th rowspan="2" style="color: #B6995A">Player</th>
        <th rowspan="2" style="color: #B6995A">Name</th>
        <th rowspan="2" style="color: #B6995A">Position</th>
        <th rowspan="2" style="color: #B6995A">Weight</th>
        <th rowspan="2" style="color: #B6995A">Height</th>
        <th colspan="3" style="color: #B6995A">This season averages</th>
      </tr>
      <tr>
        <th style="color: #B6995A">Points</th>
        <th style="color: #B6995A">Asists</th>
        <th style="color: #B6995A">Rebounds</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="https://lh3.googleusercontent.com/THi67vzCgruPbFCYvVsqDVK7dlxFmQ0zvLukOGbq9B3GCoRQSD4VME5pPkyI1PlMKxt2=s116" alt="zion" style="height: 100px; width: 150px;"></td>
        <td>Zion Williamson</td>
        <td>Forward</td>
        <td>284 lbs</td>
        <td>6'6</td>
        <td>23.7</td>
        <td>2.5</td>
        <td>7.5</td>
      </tr>
      <tr>
        <td><img src="https://lh3.googleusercontent.com/smMzcWF1erfQjk4RaIX0qo1qd8WKkNOe4QelH-x2m0LwKpeDQ6-AsTszjakOd0AdWXgm=s116" alt="lonzo" style="height: 100px; width: 150px;"></td>
        <td>Lonzo Ball</td>
        <td>Guard</td>
        <td>190 lbs</td>
        <td>6'6</td>
        <td>12</td>
        <td>7.3</td>
        <td>5</td>
      </tr>
      <tr>
        <td><img src="https://lh3.googleusercontent.com/SF9uS_lH03otbESJdZLy2Gf2lfc-nNDVcsFGUgP9J-kKB-WUIIUnNvboEGm8jxkQl1e4yA=s116" alt="hart" style="height: 100px; width: 150px;"></td>
        <td>Josh Hart</td>
        <td>Guard</td>
        <td>215 lbs</td>
        <td>6'11</td>
        <td>13.5</td>
        <td>1.2</td>
        <td>7.7</td>
      </tr>
      <tr>
        <td><img src="https://lh3.googleusercontent.com/dluWEabLN1zJw35RxDSi7eCoAJ1WTQdIUoA5ZTOw2s5sYNiaa0dpns4thfPabVlZfZwblw=s116" alt="Haynes" style="height: 100px; width: 150px;"></td>
        <td>Jaxson Haynes</td>
        <td>Center-Forward</td>
        <td>220 lbs</td>
        <td>6'11</td>
        <td>9.3</td>
        <td>1.3</td>
        <td>3.3</td>
      </tr>
      <tr>
        <td><img src="https://lh3.googleusercontent.com/L5ock5WNUhQY8A_sPC7AlKbB7LdEozkmBCT2kYD7l4ulwpcQbwOcyHwMtoJFy_ZBrpAeoY4=s116" alt="jrue" style="height: 100px; width: 150px;"></td>
        <td>Jrue Holiday</td>
        <td>Guard</td>
        <td>205 lbs</td>
        <td>6'3</td>
        <td>14</td>
        <td>6.8</td>
        <td>4</td>
      </tr>
      <tr>
        <td><img src="https://lh3.googleusercontent.com/mXFFW86adhefo8R4KO-N0KbxYLCBYRPUsuYKaP1x6CAyfCz_o8-zpJorCzitVO_QHymAEAY=s116" alt="ingram" style="height: 100px; width: 150px;"></td>
        <td>Brandom Ingram</td>
        <td>Forward</td>
        <td>190 lbs</td>
        <td>6'7</td>
        <td>23.5</td>
        <td>4.2</td>
        <td>7.5</td>
      </tr>
      <tr>
        <td><img src="https://lh3.googleusercontent.com/mLZ15nE3MAGoxv3MEz5PEvElrm5CuDYb_VtU15qjxGbOWB2JtJ_UXjbfq3NMa-UJJBgHkQ=s116" alt="okafor" style="height: 100px; width: 150px;"></td>
        <td>Jahlil Okafor</td>
        <td>Center</td>
        <td>270 lbs</td>
        <td>6'10</td>
        <td>10.8</td>
        <td>1.2</td>
        <td>5.3</td>
      </tr>
      <tr>
        <td><img src="https://lh3.googleusercontent.com/gf1umXpoYT_xHIS3MP4ZcnJlWnPc1msgmKAi6adSnEZz6C4QMe8xg4pE7iFWJ4TZsaRn0ak=s116" alt="jj" style="height: 100px; width: 150px;"></td>
        <td>JJ Redick</td>
        <td>Guard</td>
        <td>200 lbs</td>
        <td>6'3</td>
        <td>10.3</td>
        <td>1.7</td>
        <td>1.7</td>
      </tr>
    </tbody>

  </table>

</section>
